.pos-order{
  background-color:#f9fafc;
  border:1px solid #c0ddca;
}
.title{
  height: 20px;
  border-bottom:1px solid #D3DCE6;
  background-color: #F9FAFC;
  padding:10px;
  text-align: left;
}
.often-goods-list ul li{
  list-style: none;
  float:left;
  border:1px solid #E5E9F2;
  padding:10px;
  margin:5px;
  background-color:#fff;
  cursor:pointer;
}
.o-price{
  color:#58B7FF;
}
.goods-type{
  /*padding-left:2px;*/
  clear: both;
}
.goods-tab{
  padding-left:10px;
}
.cookList li {
  width:23%;
  border:1px solid #E5E9F2;
  border-radius: 5px;
  float:left;
  margin:2px 2px 2px 0;
  padding:2px 2px 2px 0;
  overflow:hidden;
  background-color:#fff;
  cursor:pointer;

}
/*.cookList li span{*/
/*display: block;*/
/*float:left;*/
/*}*/
.goods-info{
  float:left;
}
.goods-info span{
  display:block;
}
.foodImg{
  width:40%;
  float:left;
  display: block;
}
.foodName{
  font-size:18px;
  color:brown;
  padding-left:10px;
  display:block;
}
.foodPrice{
  font-size: 16px;
  padding-left: 10px;
  padding-top:10px;
  display:block;
  text-align: left;
}
.total{
  padding:15px;
}
.total span{
  padding:10px;
}
